.logo{
    height: 40px;
}
.mobs{
    padding: 0;
}
footer ul{
    width: 400px;
    margin: 0 auto;
    
}
footer ul li {
    margin-bottom: 10px;
}

.sign-up-div{
    width: 450px;
}
#mob{
    margin-top: 20px;
    width: 400px;
}
.h1{
    font-size:52px;
    margin-top: 100px;
}
.h3{
    font-size: 22px;
}
.mobmain{
    margin-top: 90px;
    width: 450px;
    margin: 0 auto;
}
.mob30{
    font-size:22px;
    padding: 15px 25px;
}
.mobmain .pmob{
    margin-top: 20px;
    font-size:16px;
}