*{
	box-sizing:border-box; 
}
body{
	font-family: Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}
.main-div{
	width: 1000px;
	margin:0 auto;
    margin-top: 20px;
}
.coll{
	float: right;
}
.red-div{
	/*padding: 50px 30px;*/
	width:120px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	margin-left: 15px;
	margin-right: 15px;
	background: #E50914;
	display: inline-block;
	color: #fff;
	font-weight: 600;
/*    opacity: 0.5;*/
}
#rdiv1,#rdiv2,#rdiv3{
    opacity: 0.5;
}
.red-div:link{
    opacity: 1;
}
.red-div:visited{
    opacity: 1;
}
.red-div:hover{
    cursor: pointer;
}
.red-div:active{
    opacity: 1;
}

.icon{
	font-weight: 100;
	/*font-size: 18px;*/
}
.table{
	font-weight: 300;
}

.continue{
    background: #E50914;
    border-style: none;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin-top: 40px;
    padding: 15px 0;
    /*border-radius: 5px;*/
    width: 400px;
    margin-bottom: 70px;
    align-content: center;
    margin-left:340px;
}
.continue:hover{
    cursor: pointer;
    background: #F40612;
}
.continue a:hover{
    color: #fff;
    text-decoration: none;
}
/*
.days-30:hover{
    
    cursor: pointer;
}
*/
th{
    font-weight: 300;
    padding: 20px 0;
    border-bottom: none;
    padding: 0;
/*    width: 1300px;*/
}
.table thead th{
    border-bottom: none;
/*    padding-left: 30px;*/
/*    width: 50%;*/
}
.table thead th .weight50{
    border-bottom: none;
    
}
tr{
    padding: 40px 0;
/*    width: 1300px;*/
}

.down{
    font-size: 20px;
}
.weight{
    width: 100px;
}
tbody{
    line-height: 2;
}
table{
    margin-top: 20px;
}
/*
table {
    border-collapse: separate;
  border-collapse:separate;
  border-spacing:0 10px;

}*/
table .mob{
    padding-right: 75px;
}
table .bas{
    padding-right: 70px;
}
table .st{
    padding-right: 70px;
}
table .pr{
    padding-right: 25px;
}
footer, footer a{
    color: #111;
    text-decoration: none;
}
footer a{
    font-size: 13px;
}
footer a:hover{
    text-decoration: underline;
    color: #929292;
}
footer ul li{
    display: inline;
    padding: 20px;
    
}
#footer{
    margin: 90px auto 0;
    text-align: center;
    background: #ddd;
    padding: 30px 0;
    
}
footer p{
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}
footer p span{
    color:#E50914;
    letter-spacing: 1px;
}

.pull-right{
    float: right;
}
.clearfix{
    clear: both;
}
.sign-in{
    padding: 7px 17px;
    color: #000;
    text-decoration: none;
/*    background: #E50914;*/
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 40px;
    height: 33px;
    font-weight: bold;
    font-size: 18px;
    font-size: 20px;
}
.sign-in:hover{
/*    background: #F40612;*/
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}