*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
.underline{
    text-decoration: underline;
}
body{
    font-family: Helvetica, Arial, sans-serif;
/*    background: #000;*/
    
}
.body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../images/bg.jpg);
}
/*
header{
    color: #fff;
    text-align: right;
    top:0;
    display: inline;
    display: flex;
}
*/
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    clear: both;
}
.sign-in{
    padding: 7px 17px;
    color: #fff;
    text-decoration: none;
    background: #E50914;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 40px;
}
.sign-in:hover{
    background: #F40612;
    cursor: pointer;
}
.main-page{
    color:white;
    text-align: center;
    margin-top: 50px;
}

h1{
    font-size: 5em;
}
h3{
    margin-top: 25px;
    font-size: 1.8em;
    font-weight: 300;
}

.days-30{
    background: #E50914;
    border-style: none;
    font-size: 1.8em;
    font-weight: 300;
    color: #fff;
    margin-top: 45px;
    padding: 25px 60px;
    border-radius: 5px;
}
.days-30:hover{
    background: #F40612;
    cursor: pointer;
}
.icon{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
.main-page p{
    margin: 25px;
    font-size: 20px;
}
.main-page p a{
    color: #fff;
    font-weight: 700;
}
footer, footer a{
    color: #929292;
    text-decoration: none;
}
footer a{
    font-size: 13px;
}
footer a:hover{
    text-decoration: underline;
}
footer ul li{
    display: inline;
    padding: 20px;
    
}
#footer{
    margin: 150px auto 0;
    text-align: center;
    background: #181818;
    padding: 30px 0;
    
}
footer p{
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}
footer p span{
    color:#E50914;
    letter-spacing: 1px;
}
/*********************************
SIGN-IN
*********************************/
.sign-div{
    width: 450px;
    height: 570px;
    background:#000;
    margin: 0 auto;
    opacity: 0.9;
    padding: 60px;
}
.sign-div h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 25px;
}
.sign-div .email,
.sign-div .pw{
    background: #333;
    border-radius: 5px;
    padding: 15px 20px;
    border-style: none;
    font-size: 17px;
    width: 100%;
    color: #fff;
}
.sign-div .email{
    margin-bottom: 15px;
}
.sign-button{
    background: #E50914;
    border-style: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
    padding: 15px 100px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 70px;
}
.sign-button:hover{
    cursor: pointer;
}
.fb{
    color: #929292;
    text-decoration: none;
    font-size: 14px;
    
}
.new{
    color: #929292;
    margin-top: 20px;
}
.new a{
    color: #fff;
    text-decoration: none;
}
.new a:hover{
    text-decoration: underline;
}
.f-icon{
    color: #3B579D;
    font-size: 50px;
}
/********************************************
********************************************/
.main-container{
    background: #181818;
    padding-left: 35px;
}

.main-page-header{
    background: #000;
}
#main-page-footer{
    background: #181818;
/*    padding: 150px auto 0;*/
    text-align: center;
    padding: 30px 0;
}
.row{
    margin-bottom: 50px;
}
.main-container p{
    color: #fff;
    text-align: center;
    padding: 5px;
}
.last-div{
    padding-bottom:  100px;
    background-color: #181818;
}
.block{
    margin-right: 15px;
}
h4{
    color: #fff;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 20px;
}
.sticky{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    
}
.video{
    background: #181818;
}
.title{
    padding: 10px 50px;
    color: #fff;
    font-weight: 600;
}
.info{
    color:#A3A3A3;
    padding-left: 50px;
    font-size: 16px;
/*    margin-top: 10px;*/
}
.desc{
    color: #fff;
    padding: 10px 50px; 
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 10px;
}

.add{
    color: #fff;
    padding: 0 50px;
    padding-bottom: 5px;
}
.span{
    color: #A3A3A3;
    
}
.vid{
    margin-top: 100px;
/*    margin: 150px auto 0;*/
    text-align: center;
    background: #181818;
    padding: 30px 0;
}
.form{
    border: 0px;
}
input[type="email"] { border: none }